.center {
    text-align:center;
}
a:link, a:visited {
    position:sticky;
    background-color:rgb(200,0,0);
    padding: 16px 25px;
    color:white;
    text-decoration:none;
    text-align:center;
}
a:hover, a:active {
    position:sticky;
    background-color:rgb(172.5,0,10);
}